/* .registration{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:20rem;
    background-color: bisque;
    margin:auto;
    margin-top: 3rem;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
   border-radius: 1rem;;
  }
  .btn{
   background-color:  #7209b7;
  }
  */